.input-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    width: 50%;
    max-width: 400px;
    margin: auto;

    .input-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        min-height: 32px;
        border-radius: 100%;
        background-color: #6046ff;
        color: #fff;
        cursor: pointer;
    }
    
    .input-field {
        width: 100%;
        border: none;
        background-color: transparent;
    }
    
    .input-field:focus {
        outline: none;
    }    
}